.popup_container{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*Авторизация*/

.popup_singin_body {
    position: relative;
    margin: auto;
    width: 500px;
    height: auto;
    border-radius: 50px;
    background-color: white;
    padding: 50px;
}

.popup_singin{
    padding: 0 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    pointer-events: all;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

/*Регистрация*/

.popup_reg_body{
    position: relative;
    margin: auto;
    width: 500px;
    border-radius: 50px;
    padding: 50px;
    height: auto;
    background-color: white;
}

.popup_reg{
    padding: 0 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    pointer-events: all;
    z-index: 2;
    background: rgba(0,0,0,0.5);
}


/*Форма записи*/

.form-control{
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 20px;
}

.password-control {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../img/etc/visibility.svg') no-repeat;
    background-size: contain;
}

.password-control.view {
    background: url('../../img/etc/visibility_off.svg') no-repeat;
    background-size: contain;
}

/*Кнопки*/

.btn_singin{
    background-color: #3a713b;
    width: 400px;
    text-align: center;
    border-radius: 50px;
    outline: none;
    height: 50px;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: white;
    transition: .5s;
}

.btn_singin:hover{
    background-color: #4bb44d;
}

.p-popup-link:hover{
    color: #4bb44d;
}

#close_popup{
    font-size: 40px;
    transition: all .5s ease;
    cursor: pointer;
}

.password-fail{
    text-align: center;
    color: red;
    margin-bottom: 0;
    opacity: 0;
    display: none;
}

.text-top{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 15px
}

@media (max-width: 550px) {

    .popup_singin_body,
    .popup_reg_body{
        width: auto;
        padding: 25px;
        font-size: 25px;
        border-radius: 20px;
    }

    .text-top{
        font-size: 20px;
    }

    #text-control{
        font-size: 15px;
    }

    .btn_singin{
        width: 100%;
        font-size: 15px;
    }

    #close_popup{
        font-size: 25px;
    }
}
